/*Stile applicato a tutti gli elementi*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Stile del contenitore*/
#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/*Stile immagine del contenitore*/
#container img {
    max-width: 300px;
    min-height: 400px;
    object-fit: cover;
}